version: '3.8'

services:
  database:
    image: postgres:15
    container_name: database
    environment:
      POSTGRES_DB: saas_db
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: Vijay@123
    ports:
      - "5432:5432"
    volumes:
      - db_data:/var/lib/postgresql/data
      - ./backend/db/init:/docker-entrypoint-initdb.d
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U postgres"]
      interval: 10s
      timeout: 5s
      retries: 5

  backend:
    build: ./backend
    container_name: backend
    ports:
      - "5000:5000"
    environment:
      DB_HOST: database
      DB_PORT: 5432
      DB_NAME: saas_db
      DB_USER: postgres
      DB_PASSWORD: Vijay@123
      JWT_SECRET: 25311ab69be8bb072301ab337fd0ca92cbe0aac45f4f237f16f16f121dd06c32
      FRONTEND_URL: http://frontend:3000
      PORT: 5000
    depends_on:
      database:
        condition: service_healthy
    healthcheck:
      test: ["CMD", "sh", "-c", "curl -f http://localhost:5000/api/health || exit 1"]
      interval: 20s
      timeout: 5s
      retries: 5
      start_period: 30s

  frontend:
    build: ./frontend
    container_name: frontend
    ports:
      - "3000:3000"
    environment:
      REACT_APP_API_BASE_URL: http://backend:5000/api
    depends_on:
      backend:
        condition: service_healthy

volumes:
  db_data:
